[buildout]
index = https://pypi.python.org/simple/

find-links =
    http://dist.plone.org
    http://download.zope.org/distribution/
    http://effbot.org/downloads

extensions =
#    jarn.setuptoolsfixer
    mr.developer

eggs =
    Plone

# we set up base-parts so that we can add in parts in other configs
parts =
    instance
    zeoserver
    checkinterval
    z3c.offlinepack
    ${buildout:cronjobs}


# List of cron jobs, usually applied in release configurations like
# prod. We default the value here so we can add it into the list of
# parts.
cronjobs =

# Extend the version config file
extends =
    versions.cfg
versions = versions

show-picked-versions = true

###########################################
# Environment variables
# ----
# These are used to fine-tune operations.
environment-vars =
# If you do not need translations, turn this off:
    zope_i18n_compile_mo_files true
# If you do need translations, you'll get faster startup by
# specifying languages in use.
#    zope_i18n_allowed_languages en es de fr
# If you need to set a timezone other than that of the server,
# do it in Plone, or here.
#    TZ US/Eastern


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
zeo-client = True
# Set the shared blob option so blobs work with zeoserver
shared-blob = on
blob-storage = ${zeoserver:blob-storage}

# DO NOT put any other eggs here. Put them in the `install_requires`
# of the package that is actually requiring it.
eggs =
    ${buildout:eggs}

# this should already be the default
default-zpublisher-encoding = utf-8

# set the timezone at a bare MINIMUM
environment-vars =
    PYTHON_EGG_CACHE ${buildout:directory}/var/.python-eggs
    ${buildout:environment-vars}

[zeoserver]
recipe = plone.recipe.zeoserver
blob-storage = ${buildout:directory}/var/blobstorage
zeo-address = ${instance:zeo-address}
pack-days = 7

[checkinterval]
recipe = zc.recipe.egg
eggs = jarn.checkinterval

[z3c.offlinepack]
recipe = zc.recipe.egg:scripts

[cron-dbpack]
recipe = z3c.recipe.usercrontab
# Once a week on sunday at midnight
times = @weekly
command = ${buildout:bin-directory}/zeopack

[cron-backup]
recipe = z3c.recipe.usercrontab
# Once a week on Monday at midnight
times = 0 0 * * 1
command = ${buildout:bin-directory}/fullbackup
